@font-face {
  font-family: "Jersey";
  src: url(../fonts/Jersey25-Regular.ttf);
}

/* index */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Jersey";
}

.home {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 400px;
  height: 500px;
  background-color: #80a6f0;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99) 0px 2px 8px 0px;
  overflow: hidden;
}

.game-area {
  margin-bottom: 0.9rem;
  width: 94%;
  height: 88%;
  border: 3px solid #042c5d;
  border-radius: 5px;
  background-image: url(../assets/blue-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.game-title {
  position: absolute;
  text-transform: uppercase;
  top: 7px;
  font-size: 1.5rem;
  color: #042c5d;
}

.home__choice-text {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
  color: #c0d4f9;
}

.player-content {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.player-content img {
  filter: drop-shadow(0.1rem 0.2rem 0.5rem rgb(192, 212, 249, 0.8));

  width: 150px;
  height: auto;
  object-fit: contain;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.2s;
  backdrop-filter: blur(10px);
}

.player-content img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
