@font-face {
  font-family: "Jersey";
  src: url(../fonts/Jersey25-Regular.ttf);
}

/* index */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Jersey";
}

.home {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 400px;
  height: 500px;
  background-color: rgb(221, 154, 180);
  /* border: 1px solid rgb(55, 0, 71); */
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99) 0px 2px 8px 0px;
  overflow: hidden;
}

.game-area {
  margin-bottom: 0.9rem;
  width: 94%;
  height: 88%;
  border: 3px solid rgb(64, 16, 78);
  border-radius: 5px;
  background-image: url(../assets/game-area-background.jpg);
  background-size: 250%;
  background-position: center;
  background-repeat: no-repeat;
}

.game-title {
  position: absolute;
  text-transform: uppercase;
  top: 7px;
  font-size: 1.5rem;
  color: #4a3f55;
}

.home__choice-text {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
}

.player-content {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.player-content img {
  filter: drop-shadow(0.1rem 0.2rem 0.5rem rgba(252, 229, 184, 0.9));

  width: 150px;
  height: auto;
  object-fit: contain;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.2s;
  backdrop-filter: blur(10px);
}

.player-content img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
